https://192.168.1.254 {
  tls internal

  reverse_proxy /socket.io/* 192.168.1.254:3000
  reverse_proxy /api/* 192.168.1.254:3000

  # LiveKit signaling (WebSocket)
  reverse_proxy /rtc/* 192.168.1.254:7880

  # Vite dev server
  reverse_proxy 192.168.1.254:5173
}
