classroom.soensingh.com {

    root * /home/techcadd/livekit-test-env/client/dist
    file_server

    reverse_proxy /api/* localhost:3000
    reverse_proxy /socket.io/* localhost:3000
    reverse_proxy /rtc/* localhost:7880
}